.searchlist {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 100px;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
}

.searchlist .results{
  padding: 10px 10px ;
  width: 100%;
  cursor: pointer;
}

.searchlist .results:hover{
  background-color: #efefef;
}