.cardHome{
    background-color: white;
    height: 320px;
    width: 100%;
}

.cardHome .cardImg{
    height: 75%;
    margin-bottom: 10px;
}

.cardHome .cardImg img{
    height: 100%;
}

.cardHome .cardInfor{
    display: flex;
    justify-content: space-around;
}