.container-fluid img {
    height: 200px;
    width: auto;
}
 
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    max-width: 800px; /* Đặt kích thước tùy ý cho Slider */
    margin: 0 auto; /* Để căn giữa Slider */
}

/* Trong file Home.css hoặc tệp CSS tương tự */
.slider-item {
    width: 100%; /* Đảm bảo rằng chiều rộng của ảnh sẽ đầy đủ theo kích thước của slider */
    height: auto; /* Tự động tính toán chiều cao dựa trên chiều rộng, tránh làm méo ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo và vẫn đủ bản quyền */
}

/* CSS cho các Slide */
.slick-slide {
    display: flex;
    justify-content: center;
}

/* CSS cho hình ảnh bên trong các Slide */
.slider-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Để hình ảnh không bị méo và căn giữa */
    display: block; /* Để hình ảnh hiển thị thành phần block */
    margin: auto; /* Căn giữa hình ảnh theo chiều ngang */
}
