.nav{
    background-color: white;
    margin-bottom: 20px;
    height: 80px;
    width: 100%;
}
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0 40px;
}

.navbar .search{
    height: 50px;
    position: relative;
}

.navbar .logo {
    margin: auto;
}

.navbar .logo img{
    width: 100px;
}

.navbar .regisLogin{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .regisLogin button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 17px;
}

.navbar .regisLogin button:hover{
    color: blue;
}

.navbar .regisLogin img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}