.regisPage {
  margin: 0;
  background-image: url("../../../../public/assets/image/imgBack.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

a {
  text-decoration: none;
  color: #fff;
}


.register {
  background: transparent;
  width: 550px; /* Thay đổi kích thước form đăng ký */
  height: 80%;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 30px;
  padding: 0px 30px;
  box-shadow: 0 50px 150px #5533;
  z-index: 2;
  color: #fff;
  backdrop-filter: blur(20px);
}

.register .logoLogin img {
  width: 100px;
}

.register .title {
  font-size: 25px; /* Thay đổi kích thước tiêu đề của form đăng ký */
  font-weight: bold;
  margin-bottom: 10px; /* Giữ nguyên khoảng cách dưới của tiêu đề */
}

.register .group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.register .group .group-i {
  width: 100%;
  height: 25%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  padding: 10px 25px 10px 10px;
}

.register .group .group-i input {
  color: #fff;
  border-bottom: none;
  font-size: 20px;
  transform: translate(+5%);
}

.register .signUp button {
  font-size: 16px; /* Thay đổi kích thước chữ của button đăng ký */
  background: #fff;
  width: 100%;
  height: 45px;
  border-radius: 40px;
  border: none;
  outline: none;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.group-left {
  margin-right: 10px; /* Khoảng cách giữa hai cột */
}

.group-right {
  margin-left: 10px; /* Khoảng cách giữa hai cột */
}

.loginInRegis{
  display: flex;
  justify-content: center;
  align-items: center;

}

.loginInRegis button{
  font-size: 16px; /* Thay đổi kích thước chữ của button đăng ký */
  background: #fff;
  width: 70px;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  font-weight: 600;
  margin-left: 15px;
  transition: 0.5s;
  cursor: pointer;
}