.recovery-password-container {
    width: 100%;
    max-width: 600px;
    /* Giới hạn chiều rộng của container */
    margin: 15px auto;
    padding: 60px;
    background-color: #f7f4f4;
    border: 2px solid #fff;
    box-shadow: 0 50px 150px #5533;
    z-index: 2;
    border-radius: 30px;
}

.recovery-password-container h2 {
    font: var(--h5);
    color: var(--L8);
    margin: 0 0 3px;
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.recovery-password-remind {
    width: 500px;
    margin: 0;
    font-family: devioussans02regular, Helvetica Neue, Helvetica, Arial, メイリオ\, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: .3px;
    line-height: 17px;
    color: var(--L8);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.recovery-password-card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message {
    margin-top: 10px;
}