.sortButton {
    position: relative;
    display: inline-block;
  }
  
  .sortButton button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .sortButton button:hover {
    background-color: #0b7dda;
  }
  
  .sortButton .menu {
    position: absolute;
    top: 40px; /* Điều chỉnh khoảng cách từ nút xuống menu */
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .sortButton .menu button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .sortButton .menu button:hover {
    background-color: #ddd;
  }
  