.footer-content {
    background-color: #f1b6b6;
    color: #141313;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    transition: bottom 0.3s
  }
.footer-content img {
    width: 12%;
    height: 200px; 
}
.footer-info,
.footer-about,
.footer-contact {
  margin: auto;
}

.footer-info h3,
.footer-about h3,
.footer-contact h3 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.footer-info ul li,
.footer-about ul li {
  margin-bottom: 5px;
}